<nav class='navbar navbar-default navbar-fixed-top'>
	<div class='container'>
		<h1>Sasqu</h1>
		<ul>
			<li>Home</li>
			<li>Restaruants</li>
			<li>Scrummy!</li>
			<li>Submit a Restaurant</li>
			<li>Recipe Box</li>
			<li><select>
					<option>Seattle</option>
					<option>Bellevue</option>
					<option>Lynnwood</option>
					<option>Burien</option>
				</select>
			</li>
		</ul>
	</div>
</nav>
